*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Macondo', cursive;
    
}

header{
    background-color: #fff;
}

main{
    height: 100vh;
    max-width: 450px;
    background-color: #000000;
    background-image: url("/assets/images/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25%;
}

a{
    text-decoration: none;
    color: #fff;
}

.banderines{
    filter: drop-shadow(5px 5px 5px rgba(15, 15, 15, 0.356));
    margin-bottom: 70%;
}

.img-plimplim{
    margin-top: -110px;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 5px rgba(15, 15, 15, 0.356));
    animation: efecto-flotante 4s ease-in-out infinite;
}

.cont-bandera-chloe{
    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgba(15, 15, 15, 0.356));
    position: relative;
}

.img-bandera{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.text-chloe{
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    line-height: 3.8rem;
    filter: drop-shadow(2px 2px 2px #000000);
}

.text-cumplo2{
    color: #5263FF;
    font-weight: bold;
    font-size: 30px;
    filter: drop-shadow(2px 2px 2px #E825D4);
}

.cont-detalles{
    background-image: linear-gradient(#E825D4, #5263FF);
    color: #fff;
    border-radius: 50px;
    padding:7px 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}

.cont-fecha-detalles{
    width: 30%;
    border-right:dotted #fff 1px;
    padding-right: 3px;
    text-align: center;
}

.cont-lugar-detalles{
    height: auto;
    border-bottom: dotted #fff 1px;
    padding-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-hora-detalles{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-te-esperamos{
    color: #5263FF;
    filter: drop-shadow(2px 2px 2px #E825D4);
    font-weight: bold;
    font-size: 25px;
}

.cont-buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

button{
    max-width: 120px;
    padding:5px 10px;
    border-radius: 50px;
    text-decoration:underline;
    background-image: linear-gradient(#E825D4, #5263FF);
    color: #fff;
    line-height: 17px;
    font-size: 1.1rem;
}

@keyframes efecto-flotante{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px );
    }
}